body {
    margin-top: 3rem;
}

.card {
    margin-bottom: 1rem;
}

.footer {
    background-color: #f5f5f5;
}

.card-custom {
    width: 18rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.container-custom {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    /* CELULARES */
    .card-custom {
        width: 100%;
    }

}
@media screen and (min-width: 700px) and (max-width: 800px) {
    /* CELULARES */
    .card-custom {
        width: 40%;
    }

}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    /* CELULARES */
    .card-custom {
        width: 30%;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
    /* CELULARES */
    .card-custom {
        width: 20%;
    }

}






